<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit requested plan</title>
</head> 
<style>
select {
    width: 150px 
}
</style> 
<body>
      <h3>Edit request plan</h3> 


      <form action="" method="post">

   <label for="">Verify</label> <br>
     <select name="status" id="">
        <option value="verify"">Verify</option>
        <option value="pending"">Pending</option>
     </select>
<br><br>
   <button>Submit</button>
      </form>
</body>
</html>