<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin dashboard</title>
</head>
<body>
       <h3>Update password</h3>


       <form action="/superadmin/updatepassword" method="post">
            
        <label for="">current password</label> <br> 
        <input type="password" name="password" placeholder="Entr your current password"> <br> <br> 

      <input type="hidden" name="user_id" value="<%= user._id %>">
        <label for="">New password </label> <br>
        <input type="password" name="new_password" placeholder="Entr your new password"> <br> <br>
        
        <label for="">Confirm password</label> <br>
        <input type="password" name="cPassword" placeholder="Entr your confirm password"> <br> <br>
         
       <button>Submit</button>

       </form>
</body>
</html>